{{ define "main" }}


    <section id="projects">
            
                {{ $pages := .Site.RegularPages }} {{ $paginator := .Paginate ($pages) }}
        
                  {{ range (where .Site.RegularPages "Type" "in" "projects") }}
                 
                  <a href="{{ .RelPermalink }}" class='m-bot-10'>
                    {{ $title := .Title }} 
                    {{ $summary := .Summary }} 
                    {{ $image :=.Params.featured_image }} 
                    {{ $year :=.Params.year }} 
                    <img src="{{.RelPermalink }}/{{$image}}" />
        
                    <div class="p-10">
                      <h2 class="title m-bot-0">
                        {{ $title }}
                      </h2>
                     
                      <p>{{ $year  }}</p>
                    </div>
                
            </a>
        {{ end }}
            
    </section>

{{ end }}
  
