{{ define "main" }}

<section id="projects">
  {{ $pages := .Site.RegularPages }} {{ $paginator := .Paginate ($pages) }} {{
  range (where .Site.RegularPages "Type" "in" "projects") }}

  <a
    href="{{ .RelPermalink }}"
    style="margin-bottom: 75px; display: block; text-align: center"
  >
    {{ $title := .Title }} {{ $summary := .Summary }} {{ $image
    :=.Params.featured_image }} {{ $year :=.Params.year }}
    <img src="{{.RelPermalink }}/{{$image}}" />

    <p>{{ $title }}</p>
  </a>
  {{ end }}
</section>

{{ end }}
